* {
    box-sizing: border-box;
  }
  
  body {
    font-family: monospace;
    background-image: url("https://i.imgur.com/g2SM2om.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background: opacity .5;
       
  }
  h1 {
    color: white;
    border-color: white;
    font-family: monospace;
    font-size: 40px; 
    background-color: black;
    text-align: center;
  }
  
  } 
  button, input[type="text"]{
    padding: 15px;
    color:  rgb(99, 192, 36)
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .hidden {
      display:none;
  }
  
  #shopping-list-item {
    width:100px;
  
  }
  
  .container {
    max-width: 650px;
    margin: auto;
  
  }
  .shopping-list > li {
    margin-bottom: 20px;
  }  
  
  .shopping-item {
    display: block;
    color: rgb(44, 42, 42);
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .shopping-item__checked {
    text-decoration: line-through;
  }